{% extends "main.twig" %}
{% block content %}
    <h1>New film</h1>
    <p class="description">Fill text fields for new film</p>
    <div class="row">
        <div class="col-md-2">
            <form action="/add/film" method="post">
                <div class="form-group">
                    <label for="name">New film title</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter title" name="name">
                </div>
                <div class="form-group">
                    <label for="year">Year of release</label>
                    <input type="number" class="form-control" id="year" placeholder="Enter year" name="year">
                </div>
                <div class="form-group">
                    <label for="active">Is active</label>
                    <input type="checkbox" class="form-control" id="active" name="active">
                </div>
                <div class="form-group">
                    <button type="submit" class="submit-btn">Send It</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}