{% extends "main.twig" %}



{% block content %}
    <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Film title</th>
            <th>Year</th>
        </tr>
        </thead>
        <tbody>
        {% for film in films %}
        <tr>
            <th scope="row">{{ film.idFilms }}</th>
            <td>{{ film.name }}</td>
            <td>{{ film.year }}</td>

        </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>
    <div class="col-lg-2"></div>
    </div>
{% endblock %}