<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/style.css" />
    {% endblock %}
        <title>{% block title %}Index{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
{% block menu %}


    <nav class="navbar navbar-light bg-faded">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a  class="nav-link {% if request == '/' %} active {% endif %}" href="{{ path('home') }}">Меню <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a href="{{ path('showFilms') }}" class="nav-link{% if request == '/show/films' %} active {% endif %}">Посмотреть все фильмы</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('addFilm') }}" class="nav-link{% if request == '/add/film' %} active {% endif %}">Добавить фильм</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('task1') }}" class="nav-link{% if request == '/task/1' %} active {% endif %}">Задание 1</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('task2') }}" class="nav-link{% if request == '/task/2' %} active {% endif %}">Задние 2</a>
            </li>
        </ul>
    </nav>
{% endblock %}
<div class="conteiner">
{% block content %}
<h1>Доброго времени суток</h1>
    <p>На вервую часть тестового задания я потратил 5 часов</p>
    <p>Вторя часть задания была интереснее кроме 1-го задания, если я правильно его понял))</p>
    <p>Первое задание 10 минут</p>
    <p>Второе задание 4-5 часов</p>
    <p>Прошу прощения, что не оформил красиво.</p>

{% endblock %}
</div>
{% block footer %}
<div id="footer" class="col-lg-4">

        Created by <a href="https://vk.com/laninea" class="name">Lanin Evgeni</a>

</div>
{% endblock %}
{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

{% endblock %}
</body>
</html>