{% extends "main.twig" %}
{% block content %}
    <p>Количество шагов для матрици {{ size['width'] }}x{{ size['height'] }} = {{ steps }}</p>
    <p>Для того что бы поменять размер матрицы необходимо: зайти в <a href="">/task2/task2.php</a> в переменной $matrixSize поменять значаения для width height</p>
{% endblock %}