{% extends "main.twig" %}
{% block content %}
    <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>value</th>
            </tr>
            </thead>
            <tbody>
            {% for value in arr %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ value }}</td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-2"></div>
    </div>
{% endblock %}