#footer:first-letter{
    font-size: large;
    color: black;
}

.name:hover {
    font-size: large;
    color: darkblue;
}

a:link {
    color: #0000d0; /* Цвет ссылок */
}
a:visited {
    color: #900060; /* Цвет посещенных ссылок */
}
.form-control{
    float: left;
}

.conteiner {
    height:800px;
}